<!DOCTYPE html>
<head>
    <title>
        LSBU Sensors (FW218) | Emeka
    </title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo1.ico') }}"/>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="myHead">
        <div class="myTitle" style="padding: 20px">
            Sensor DashBoard
            <br>
        </div>
    </div>

    <br>

    <div class="popup">
        <div class="myTitlesub" >
            Configure Server Details
        </div>
        <div class="myForm">
            <form id='form' action='/set_data' method="POST" enctype='multipart/form-data'>
                <select id="display_max" name="display_max" required>
                    <option selected="true" disabled="disabled">-- Please Select No of Display Samples --</option>
                    {% for i in range(20, 101, 10) %}
                        <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
                <select  id="refresh_rate" name="refresh_rate" required>
                    <option selected="true" disabled="disabled">-- Please Select Refresh rate --</option>
                    {% for i in range(1, 11) %}
                        <option value={{ i }}>{{ i }}s</option>
                    {% endfor %}
                </select>
                <select  id="store_max" name="store_max" required>
                    <option selected="true" disabled="disabled">-- Please Select Max Storage Limit --</option>
                    {% for i in range(1000, 5001, 1000) %}
                        <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
                <input type='text' class="input" id='url' name='url' value='' placeholder="Enter Server URL Endpoint e.g http://localhost:5000/all-data" required>

                <input class="run" id="run" type='submit' value='GO!'>
        </form>

        </div>

    </div>




</body>

</html>